@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --primary-color: #31aab7;
  --secondary-color: #617889;
  --text-color: #737373;
  --heading-color: #08090a;
  --border-color: #d6d6d6;
  --primary-font: "Lato", sans-serif;
}
body {
  font-family: var(--primary-font);
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 700;
  color: var(--heading-color);
}
h1 {
  font-size: 3rem;
}
@media (max-width: 620px) {
  h1 {
    font-size: 1.875rem;
  }
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.15rem;
  margin-bottom: 0.1rem !important;
}
.btn-primary,
.bg-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.bg-primary {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}
.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.badge {
  background-color: var(--secondary-color);
}
.profile-image {
  max-width: 150px;
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .profile-container {
    flex-direction: row;
  }
  .profile-image-container {
    padding-left: 0px;
  }
}
.brand-logo {
  height: 30px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.brand-logo:hover {
  filter: grayscale(0%);
}
.brand-container {
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.container {
  max-width: 624px;
  margin: auto;
}
.card,
.brand-container {
  border: 1px solid var(--border-color);
}
